body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  background-color: #1F2937;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
  margin-left: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

li {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.header-links {
  display: flex;
  margin-right: 150px;
}

.upper-mid {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 0 150px 100px 150px;
  }

.button {
  display: flex;
  margin-left: 100px;
  align-items: left;
  flex-direction: column;
}

.awesome {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  display: flex;
}

.subtext {
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
}

.twia {
  display: flex;
  flex-direction: column;
}
.sign-up {
  background-color: #3882F6;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  width: 100px;
  font-size: 16px;
  padding: 8px 20px;

}

.meerkat {
  display: flex;
  height: auto;
  width: 400px;
}